@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

::-webkit-scrollbar { 
    display: none; 
}

#test img {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#help img {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#help img:hover {
    opacity: 1;
}

#test, #help {
    display: inline-block;
}

html, body, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}

body {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
    
html {
    background: url(/images/466aug2018bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

h1,p {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

footer {
    margin-top: 10px;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

a:link {
    color:#ffffff;
    background-color:transparent;
    text-decoration:none
    }
    
a:visited {
    color:#ffffff;
    background-color:transparent;
    text-decoration:none
    }
    
a:hover {
    color:#3399ff;
    background-color:transparent;
    text-decoration:none
    }	
